# Set debug mode
DEBUG=false

# PostgreSQL DB Settings
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Gemini settings
GEMINI_API_KEY=
GEMINI_PROVIDER=
GEMINI_FAST_MODEL=
GEMINI_SMART_MODEL=
GEMINI_VISION_MODEL=
GEMINI_EMBEDDING_MODEL=

# Pollinations settings
POLLINATIONS_ENDPOINT=
POLLINATIONS_API_KEY=
POLLINATIONS_PROVIDER=
POLLINATIONS_FAST_MODEL=
POLLINATIONS_SMART_MODEL=
POLLINATIONS_VISION_MODEL=
